{% extends 'snippets/layout.html' %}

{% load static i18n %}

{% block content %}

{% comment %} snippet home search {% endcomment %}
{% include 'snippets/searchhome.html' %}

<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col-md-auto mt-2">
      {% comment %} list of items {% endcomment %}
      {% if websites_list %}
        <div class="container text-center mt-2">
          <div class="row">
            {% for website in websites_list %}
              <div class="{% if count and count <= 2 %}col{%else%}col-4{%endif%}">
                <div class="card mt-3">
                  <h5 class="card-header">Wordpress</h5>
                  <div class="card-body">
                    <h5 class="card-title">{{ website.domain }}</h5>
                    <a href="{{ website.get_absolute_index_detail_url }}" class="btn btn-primary">Go Detail</a>
                    <a href="{{ website.get_absolute_status_url }}" class="btn btn-primary">Go Status</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% else %}
      <p>No websites are available.</p>
      {% endif %}
      {% comment %} end list of items {% endcomment %}
    </div>
  </div>
</div>

{% endblock content %}