{% extends 'snippets/layout.html' %}

{% load static i18n %}

{% block content %} 

<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col-md-auto mt-4">
      {% if websites_list %}
        <ul class="list-group">
          {% for website in websites_list %}
            <li class="list-group-item mt-2"><a href=" {{ website.get_absolute_url }} ">{{ website.domain }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No websites are available.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}