{% extends 'snippets/layout.html' %}

{% load static i18n %}

{% block content %}

{% comment %} CARD FOR FRIST SECTION {% endcomment %}
<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col-md-3 mt-4">
      {% if object %}
        <div class="card">
          <ul class="list-group list-group-flush">
            {% comment %} GLOBAL URL INFO SECTION {% endcomment %}
            <li class="list-group-item list-group-item-primary"> 
              View on site: <a href="{{ object.formated_domain }}">{{ object.formated_domain }}</a>
              View DNS: <a href="{% url 'websites:website_dns_information' object.pk %}">{{ object.domain }}</a>
            </li>
            {% comment %} SSL INFO SECTION {% endcomment %}
            <li class={% if object.ssl_enable %}
                "list-group-item list-group-item-success"
              {%else%}
                "list-group-item list-group-item-danger"
              {% endif %}>
                SSL is: {{ object.ssl_enable|yesno:"On,Off" }}
            </li>
          </ul>
        {% else %}
          <p>No websites are available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% comment %} CARD FOR SECOND SECTION {% endcomment %}
<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col-md-4 mt-4">

      <div class="card">
        <div class="card-header">
          Update Information:
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'websites:website_control_custom_form'%}">
            {% csrf_token %}
    
            <input type="hidden" id="wbid" name="wbid" value="{{object.pk}}">
    
            <div class="row g-3 align-items-center">
              <div class="col align-self-center mt-4">
                <label for="domain" class="col-form-label">Domain:</label>
              </div>
              <div class="col align-self-center mt-4">
                {{ form.domain }}
              </div>
            </div>
    
            <div class="row g-3 align-items-center">
              <div class="col align-self-center mt-4">
                <label for="username" class="col-form-label">Username:</label>
              </div>
              <div class="col align-self-center mt-4">
                {{ form.user }}
              </div>
            </div>
            
            <div class="row g-3 align-items-center">
              <div class="col align-self-center mt-4">
                <label for="password" class="col-form-label">Password:</label>
              </div>
              <div class="col align-self-center mt-4">
                {{ form.password }}
              </div>
            </div>
        
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Update
            </button>
        
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Waiting Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ¿Do you want update this information?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="mt-2 btn btn-primary" type="submit">Go</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    
    </div>
  </div>
</div>

<script>
const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', () => {
  myInput.focus()
})
</script>
      
{% endblock content %}